In [2]:
%load_ext sql

In [3]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL
# Enter the connection string for your Db2 on Cloud database instance below
%sql ibm_db_sa://qjm38282:jPWXpFzlmF3Y6yXG@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB?security=SSL

'Connected: qjm38282@BLUDB'

In [4]:
%%sql

SELECT A.NAME_OF_SCHOOL,A.COMMUNITY_AREA_NAME,A.AVERAGE_STUDENT_ATTENDANCE FROM CHICAGO_PUBLIC_SCHOOLS A JOIN CHICAGO_SOCIOECONOMIC_DATA B 
ON A.COMMUNITY_AREA_NUMBER = B.CA WHERE B.HARDSHIP_INDEX = 98

 * ibm_db_sa://qjm38282:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[('George Washington Carver Military Academy High School', 'RIVERDALE', '91.60%'),
 ('George Washington Carver Primary School', 'RIVERDALE', '90.90%'),
 ('Ira F Aldridge Elementary School', 'RIVERDALE', '92.90%'),
 ('William E B Dubois Elementary School', 'RIVERDALE', '93.30%')]

In [5]:
%%sql

SELECT A.CASE_NUMBER,A.PRIMARY_TYPE,B.COMMUNITY_AREA_NAME 
FROM CRIME_DATA A JOIN CHICAGO_SOCIOECONOMIC_DATA B
ON A.COMMUNITY_AREA_NUMBER = B.CA
WHERE A.LOCATION_DESCRIPTION lIKE '%SCHOOL%'

 * ibm_db_sa://qjm38282:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[('HK577020', 'NARCOTICS', 'Rogers Park'),
 ('HL725506', 'BATTERY', 'Lincoln Square'),
 ('HH639427', 'BATTERY', 'Austin'),
 ('HS200939', 'CRIMINAL DAMAGE', 'Austin'),
 ('HT315369', 'ASSAULT', 'East Garfield Park'),
 ('HP716225', 'BATTERY', 'Douglas'),
 ('HL353697', 'BATTERY', 'South Shore'),
 ('HS305355', 'NARCOTICS', 'Brighton Park'),
 ('JA460432', 'BATTERY', 'Ashburn'),
 ('HR585012', 'CRIMINAL TRESPA', 'Ashburn')]

In [28]:
%%sql

CREATE OR REPLACE VIEW NEW AS
SELECT NAME_OF_SCHOOL,LEADERS_ICON
FROM CHICAGO_PUBLIC_SCHOOLS

 * ibm_db_sa://qjm38282:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[]

In [7]:
%%sql

SELECT * FROM NEW LIMIT 5

 * ibm_db_sa://qjm38282:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[('Abraham Lincoln Elementary School', 'Weak'),
 ('Adam Clayton Powell Paideia Community Academy Elementary School', 'Weak'),
 ('Adlai E Stevenson Elementary School', 'Weak'),
 ('Agustin Lara Elementary Academy', 'Weak'),
 ('Air Force Academy High School', 'Weak')]

In [21]:
%%sql

--#SET TERMINATOR @
CREATE PROCEDURE UPDATE_LEADERS_SCORE (
    IN in_School_ID  INTEGER, IN in_Leader_Score INTEGER) 
    
LANGUAGE SQL 
MODIFIES SQL DATA

BEGIN
    UPDATE "CHICAGO_PUBLIC_SCHOOLS"
    SET "LEADERS_SCORE" = in_Leader_Score
    WHERE "SCHOOL_ID" = in_School_ID;

    IF in_Leader_Score >=  80 THEN 
        UPDATE "CHICAGO_PUBLIC_SCHOOLS"
        SET "LEADERS_ICON" = 'Very_Strong'
        WHERE "SCHOOL_ID" = in_School_ID;

    ELSEIF in_Leader_Score>= 60 and in_Leader_Score <= 79  THEN
        UPDATE "CHICAGO_PUBLIC_SCHOOLS"
        SET "LEADERS_ICON" = 'Strong'
        WHERE "SCHOOL_ID" = in_School_ID;

    ELSEIF in_Leader_Score >=  40 and in_Leader_Score <= 59  THEN
        UPDATE "CHICAGO_PUBLIC_SCHOOLS"
        SET "LEADERS_ICON" = 'Average'
        WHERE "SCHOOL_ID" = in_School_ID;

    ELSEIF in_Leader_Score >=  20 and in_Leader_Score <= 39  THEN
        UPDATE "CHICAGO_PUBLIC_SCHOOLS"
        SET "LEADERS_ICON" = 'Weak'
        WHERE "SCHOOL_ID" = in_School_ID;

    ELSE
        UPDATE "CHICAGO_PUBLIC_SCHOOLS"
        SET "LEADERS_ICON" = 'Very Weak'
        WHERE "SCHOOL_ID" = in_School_ID;

    END IF;
END

 * ibm_db_sa://qjm38282:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[]

In [25]:
%%sql

--#SET TERMINATOR @
CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE (
    IN in_School_ID  INTEGER, IN in_Leader_Score INTEGER) 
    
LANGUAGE SQL 
MODIFIES SQL DATA

BEGIN
    UPDATE "CHICAGO_PUBLIC_SCHOOLS"
    SET "LEADERS_SCORE" = in_Leader_Score
    WHERE "SCHOOL_ID" = in_School_ID;

    IF in_Leader_Score >=  80 THEN 
        UPDATE "CHICAGO_PUBLIC_SCHOOLS"
        SET "LEADERS_ICON" = 'Very_Strong'
        WHERE "SCHOOL_ID" = in_School_ID;

    ELSEIF in_Leader_Score>= 60 and in_Leader_Score <= 79  THEN
        UPDATE "CHICAGO_PUBLIC_SCHOOLS"
        SET "LEADERS_ICON" = 'Strong'
        WHERE "SCHOOL_ID" = in_School_ID;

    ELSEIF in_Leader_Score >=  40 and in_Leader_Score <= 59  THEN
        UPDATE "CHICAGO_PUBLIC_SCHOOLS"
        SET "LEADERS_ICON" = 'Average'
        WHERE "SCHOOL_ID" = in_School_ID;

    ELSEIF in_Leader_Score >=  20 and in_Leader_Score <= 39  THEN
        UPDATE "CHICAGO_PUBLIC_SCHOOLS"
        SET "LEADERS_ICON" = 'Weak'
        WHERE "SCHOOL_ID" = in_School_ID;

    ELSEIF in_Leader_Score <=  20 THEN
        UPDATE "CHICAGO_PUBLIC_SCHOOLS"
        SET "LEADERS_ICON" = 'Very Weak'
        WHERE "SCHOOL_ID" = in_School_ID;
    ELSE
    
        ROLLBACK WORK;
    
    END IF;
END

 * ibm_db_sa://qjm38282:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[]

In [27]:
%%sql

--#SET TERMINATOR @
CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE (
    IN in_School_ID  INTEGER, IN in_Leader_Score INTEGER) 
    
LANGUAGE SQL 
MODIFIES SQL DATA

BEGIN
    UPDATE "CHICAGO_PUBLIC_SCHOOLS"
    SET "LEADERS_SCORE" = in_Leader_Score
    WHERE "SCHOOL_ID" = in_School_ID;

    IF in_Leader_Score >=  80 THEN 
        UPDATE "CHICAGO_PUBLIC_SCHOOLS"
        SET "LEADERS_ICON" = 'Very_Strong'
        WHERE "SCHOOL_ID" = in_School_ID;

    ELSEIF in_Leader_Score>= 60 and in_Leader_Score <= 79  THEN
        UPDATE "CHICAGO_PUBLIC_SCHOOLS"
        SET "LEADERS_ICON" = 'Strong'
        WHERE "SCHOOL_ID" = in_School_ID;

    ELSEIF in_Leader_Score >=  40 and in_Leader_Score <= 59  THEN
        UPDATE "CHICAGO_PUBLIC_SCHOOLS"
        SET "LEADERS_ICON" = 'Average'
        WHERE "SCHOOL_ID" = in_School_ID;

    ELSEIF in_Leader_Score >=  20 and in_Leader_Score <= 39  THEN
        UPDATE "CHICAGO_PUBLIC_SCHOOLS"
        SET "LEADERS_ICON" = 'Weak'
        WHERE "SCHOOL_ID" = in_School_ID;

    ELSEIF in_Leader_Score <=  20 THEN
        UPDATE "CHICAGO_PUBLIC_SCHOOLS"
        SET "LEADERS_ICON" = 'Very Weak'
        WHERE "SCHOOL_ID" = in_School_ID;
    ELSE
    
        ROLLBACK WORK;
    
    END IF;
        COMMIT WORK;
END

 * ibm_db_sa://qjm38282:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/BLUDB
Done.

[]